head
	link(rel="stylesheet", href="/css.css")
	title Musical Roulette
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

body(style="max-width:400px;")
	
	

	#loginwithspotify
		h1
			span.offcolor musical
			| roulette
		p  In each round, a random song that someone likes is played. Everyone guesses who likes the song the most, based on their Spotify listening history.
		p Log in with Spotify by clicking the button below. Then you can join or create a game with friends!

		a(href="https://accounts.spotify.com/authorize?response_type=token&client_id=6a07d379738c4e329ab09b8c4f5649d1&scope=user-top-read&redirect_uri=https://roulette.walzr.com")

			button.login#spotifylogin Log in with Spotify

	p(style="margin-top:40px; color:#333;font-weight: 600;margin-bottom:0;") made by 
		a(style="color:#333;", href="https://walzr.com") riley
	a(href="/legal.pdf", style="text-decoration:none;color:#888;font-size:0.8rem;") legal